<!DOCTYPE html>
<html>

<head>

	<title> yelpcamp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		#bt {
			width: 100%;
		}

		* {
			margin: 0;
			padding: 0px;
			box-sizing: border-box;
		}

		html,
		body {
			background-color: #fff;
			color: #555;
			font-family: 'Lato', 'Arial', sans-serif;
			font-weight: 300;
			font-size: 20px;
			text-rendering: optimizeLegibility;
			overflow-x: hidden;
		}

		header {

			background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://media.giphy.com/media/JNAdtE8b40XWE/giphy.gif);
			background-size: cover;
			background-position: center;
			height: 100vh;
			background-attachment: fixed;

		}
	</style>
</head>

<body>

	<header>



	</header>
</body>

</html>